
<div>
    
    
     <% @accounts.each do |account| %>
     <% InstaPyScriptWorker.perform_async(account.username, account.password, account.tags, account.comments, account.comment_percentage, account.amount) %>

    <% # system("python public/InstaPy/single_serve.py #{account.username} #{account.password} #{account.tags} #{account.comments} #{account.comment_percentage} #{account.amount}")%>
 <a class="card-anchor" href="/accounts/<%= account.id %>/edit/">
    <div class="card card-hover col-sm-3">
        <img class="img-circle" src="https://sushituesday.club/AutoGram/img/puppy.jpg"></img>
        <a href="http://instagram.com/<%= account.username%>"><h2>@<%= account.username %></h2><span><i class="fa fa-external-link"></i></span></a>
        <div class='followers'>
            <i class="fa fa-user-o fa-1x"></i><span>14,023</span>
            <br>
            <i class="fa fa-heart-o fa-1x"></i><span>427/day</span>
            <br>
            <i class="fa  fa-comment-o fa-1x"></i><span>33/day</span>
        </div>
    </div>
    </a>
    <% end %>

    
    
    
        
   
    
    
    
</div>