 <div class="button-container">
     <button onclick="window.location.href='<%= new_account_path %>'" class="paper-button paper-floating-action-button">+
      <div class="ripple custom-ripple"></div>
    </button>
</div>