 <div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
         <% @categories = Category.all %>
        <% if @categories %>
           <li>
                <a href="/dashboard">All</a>
            </li>
         <% @categories.each do |category| %>
                <li>
                    <a href="/dashboard?category=<%= category.id %>"><%= category.name %></a>
                </li>
            <% end %>
        <% else %>
           <li>
            <p style="color:#fff;">No categories yet!</p>
        </li>
        <% end %>
         

          
            <li>
                <a style="" class="btn btn-primary" href="<%= new_category_path %>">Add</a>
            </li>
<li>
<a style="background-color:blue" class="btn btn-primary" href="/dashboard?run-script=1">Run Script</a>
</li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
