 <div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
         
            <li>
                <a href="#">All</a>
            </li>
            <li>
                <a href="#">Dogs</a>
            </li>
            <li>
                <a href="#">Cats</a>
            </li>
            <li>
                <a href="#">Food</a>
            </li>
            <li>
                <a href="#">Nature</a>
            </li>
            <li>
                <a href="#">Photography</a>
            </li>
            <li>
                <a style="" class="btn btn-primary" href="#">Add</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
